# {{ ansible_managed }}
# Loaded by systemd as an EnvironmentFile. Mode 0640, owned by the service
# account -- it holds the ingest key.

TLSREP_INGEST_URL={{ tlsrep_proxy_ingest_url }}
TLSREP_INGEST_KEY={{ tlsrep_ingest_key }}
TLSREP_LISTEN_PORT={{ tlsrep_proxy_listen_port }}
TLSREP_BATCH_SIZE={{ tlsrep_proxy_batch_size }}
TLSREP_FLUSH_INTERVAL={{ tlsrep_proxy_flush_interval }}
