{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ tlsrep_docker_log_max_size }}",
    "max-file": "{{ tlsrep_docker_log_max_file | string }}"
  },
  "bip": "{{ tlsrep_docker_bridge_ip }}/{{ tlsrep_docker_bridge_prefix }}",
  "live-restore": {{ tlsrep_docker_live_restore | bool | lower }}
}
